@media screen and (max-width: 480px) {
    body {
        min-width: 375px;
    }

    // header
    .header {
        width: 375px;
    }

    .header-left {
        margin-left: 20px;
    }

    .header-right {
        display: none;
    }

    .hamburger {
        display: block;
        margin-right: 20px;
    }

    // home 
    .menu-box {
        flex-flow: column nowrap;
       
    }

    .menu-box li {
        display: flex;
		flex-direction: column;
		align-items: center;
		margin-right: 0;
		margin-top: 30px;
    }

    .menu-box li:first-child{
        margin-top: 0;
    }

    .menu-box li span {
        font-size: 16px;
        margin-top: 20px;
    }

    // menu
    .swiper-wrapper img {
        width: 500px;
        height: 350px;
    }

    .menu ul {
        flex-flow: column nowrap;
    }

    .menu li {
        margin-right: 0;
        align-items: center;
        text-align: center;
    }

    // interior
    .tab3-wrap .interior {
        flex-flow: column nowrap;
        margin-left: 0;
    }

    .tab3-wrap .interior img {
        width: 350px;
    }

    .tab3-wrap .interior h3 {
        margin: 50px;
    }

    .tab3-wrap  hr {
        margin-left: 25px;
    }

    // access 
    .tab4-wrap {
        padding-left: 0;
        align-items: center;
        text-align: center;
    }

    .tab4-wrap hr {
        margin-left: 25px;
    }

    .map iframe {
        padding-left: 0;
        width: 350px;
        height: 300px;
    }

    // contact
    .contact .form {
		flex-flow: column nowrap;
		margin: 30px 0;
	}

	.form .name, .form .email, .form .inquiry {
		width: 375px;
	}

	.form .name, .form .email {
		height: 30px;
	}

	.form .inquiry {
		height: 50px;
	}

	.form-left {
		margin-right: 0;
	}

	.form-right {
		margin-top: 20px;
	}

	.contact button {
		font-size: 16px;
		padding: 7px 15px;
	}
}