.header {
  width: 100%;
  height: 120px;
  padding: 15px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: gold;
  position: fixed;
  margin-top: -135px;
}

.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  margin-left: 80px;
}

.header-left img {
  height: 80px;
  width: 245px;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  margin-right: 80px;
}

.header-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 80px;
}

.header-right ul li {
  margin-right: 40px;
  font-size: 22px;
  font-weight: bold;
}

.header-right ul li:last-child {
  margin-right: 0;
}

.header-right ul li a {
  color: #000;
  text-decoration: none;
}

.tab-content {
  width: 100%;
  height: 1200px;
  margin-top: 130px;
}

.tab-content #tab2 {
  background-color: blue;
  height: 500px;
}

.tab-content #tab3 {
  background-color: green;
  height: 500px;
}

.tab-content #tab4 {
  background-color: #FFCC33;
}

.tab-content section {
  display: none;
}

.tab-content .active {
  display: block;
}

.tab1-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tab1-container {
  height: 800px;
  width: 100%;
  background-image: url(../img/phonto.PNG);
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: center; */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

.tab1-container h3 {
  font-size: 36px;
  font-weight: bold;
  text-shadow: 3px 3px 3px whitesmoke;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 200px;
}

.tab1-container img {
  height: 100px;
  width: 270px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.tab1-container .tab1-text {
  font-size: 26px;
  font-weight: bold;
  text-shadow: 3px 3px 3px whitesmoke;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 10px;
}

.tab1-container .tab1-text:first-child {
  margin-top: 0;
}

.tab1-menu {
  width: 100%;
  height: 500px;
  background-color: #FFCC33;
}

.tab1-menu .menu-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 190px;
}

.tab1-menu .menu-box li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-right: 150px;
}

.tab1-menu .menu-box li span {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.tab1-menu .menu-box li:last-child {
  margin-right: 0;
  border-right: none;
}

.tab4-wrap {
  padding-left: 30px;
  height: 100%;
}

.tab4-wrap h2 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding-top: 70px;
}

hr {
  height: 0px;
  border-radius: 2px;
  border: 2px solid #999999;
  width: 80%;
}

.map {
  font-size: 30px;
  font-weight: bold;
  margin-top: 70px;
}

.map iframe {
  padding-left: 200px;
}

.speed {
  margin-top: 60px;
}

.speed h3 {
  font-weight: bold;
  font-size: 26px;
}

.speed p {
  font-size: 18px;
  margin-top: 10px;
}

.normal {
  margin-top: 60px;
}

.normal h3 {
  font-weight: bold;
  font-size: 26px;
}

.normal p {
  font-size: 18px;
  margin-top: 10px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 400px;
  background-color: #FFCC33;
  padding-top: 50px;
}

.contact h2 {
  font-size: 40px;
}

.contact .form {
  margin: 50px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .form-left {
  margin-right: 50px;
}

.contact .form .name {
  margin-bottom: 20px;
}

.contact .form .name, .contact .form .email {
  height: 50px;
  width: 400px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

.contact .form .inquiry {
  height: 120px;
  width: 400px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

.contact button {
  background-color: gold;
  color: #000;
  border: 3px solid #000;
  border-radius: 10px;
  font-size: 24px;
  padding: 15px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.contact button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.footer {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: gold;
}

.footer img {
  margin-top: 30px;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.footer ul li {
  margin-right: 60px;
}

.footer ul li:last-child {
  margin-right: 0;
}

.footer div {
  font-size: 16px;
  font-weight: bold;
  margin-top: 50px;
}
/*# sourceMappingURL=enjoy.css.map */