// header
.header {
    width: 100%;
    height: 120px;
    padding: 15px 0 0;
    display: flex;
    justify-content: space-between;
    background-color: gold;
    position: fixed;
    margin-top: -135px;

    &-left {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        margin-left: 80px;

        img {
            height: 80px;
            width: 245px;
        }
    }

    &-right {
        display: flex;
        align-items: center;
        margin-top: 30px;
        margin-right: 80px;

        ul {
            display: flex;
            align-items: center;
            margin-right: 80px;

            li {
                margin-right: 40px;
                font-size: 22px;
                font-weight: bold;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    color: #000;
                    text-decoration: none;

                    // .active {
                    //     border-bottom:5px solid purple;
                    // }
                }
            }
        }
    }
}
// header


// main
.tab-content {
    width: 100%;
    height: 1200px;
    margin-top: 130px;

    // #tab1 {
        //     display: flex;
        // }
    
        #tab2 {
            background-color: blue;
            height: 500px;
        }
    
        #tab3 {
            background-color: green;
            height: 500px;
        }
    
        #tab4 {
            background-color: #FFCC33;
        }

    section {
        display: none;
    }
    
    .active {
        display: block;
    }
}

// HOMEここから
.tab1-wrap {
    display: flex;
    flex-direction: column;
}


.tab1-container {
    height: 800px;
    width: 100%;
    background-image: url(../img/phonto.PNG);
    text-align: center;
    align-items: center;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;

    h3 {
        font-size: 36px;
        font-weight: bold;
        text-shadow: 3px 3px 3px whitesmoke;
        font-family: 'Courier New', Courier, monospace;
        margin-top: 200px;
    }

    img {
        height: 100px;
        width: 270px;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .tab1-text {
        font-size: 26px;
        font-weight: bold;
        text-shadow: 3px 3px 3px whitesmoke;
        font-family: 'Courier New', Courier, monospace;
        margin-top: 10px;

        &:first-child {
            margin-top: 0;
        }
    }
}

.tab1-menu {
    width: 100%;
    height: 500px;
    background-color: #FFCC33;

    .menu-box {
        display: flex;
        justify-content: center;
        margin-top: 190px;

        li {
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-right: 150px;

            span {
                font-size: 24px;
                font-weight: bold;
                margin-top: 20px;
            }

            &:last-child {
                margin-right: 0;
                border-right: none;
            }
        }
    }
}
// HOMEここまで

// MENUここから
// MENUここまで

// INTERIORここから
// INTERIORここまで

// ACCESSここから
.tab4-wrap {
    padding-left: 30px;
    height: 100%;
    h2 {
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        padding-top: 70px;
    }
}

hr {
    height:0px;
    border-radius: 2px;
    border: 2px solid hsl(0, 0%, 60%);
    width: 80%;
}

.map {
    font-size: 30px;
    font-weight: bold;
    margin-top: 70px;
    
    iframe {
        padding-left: 200px;
    }
}

.speed {
    margin-top: 60px;

    h3 {
        font-weight: bold;
        font-size: 26px;
    }

    p {
        font-size: 18px;
        margin-top: 10px;
    }
}

.normal {
    margin-top: 60px;

    h3 {
        font-weight: bold;
        font-size: 26px;
    }

    p {
        font-size: 18px;
        margin-top: 10px;
    }
}
// ACCESSここまで
// main


// contact
.contact {
    display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	height: 350px;
    background-color: #FFCC33;

    h2 {
        font-size: 40px;
    }
    
    .form {
        margin: 50px 0 40px;
        display: flex;
        justify-content: center;

        &-left {
            margin-right: 50px;
        }

        .name {
            margin-bottom: 20px;

        }

        .name, .email {
            height: 50px;
            width: 400px;
            box-sizing: border-box;
            font-size: 16px;
        }

        .inquiry {
            height: 120px;
            width: 400px;
            box-sizing: border-box;
            font-size: 16px;
        }
    }

    button {
        background-color: gold;
        color: #000;
        border: 3px solid #000;
        border-radius: 10px;
        font-size: 24px;
        padding: 15px 30px;
        box-sizing: border-box;
        transition-duration: 500ms;

        &:hover {
            cursor: pointer;
            background-color: black;
            color: white;
        }
    }
}
// contact


// footer
.footer {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gold;

    img {
        margin-top: 30px;
    }

    ul {
        display: flex;
        align-items: center;
        margin-top: 30px;

        li {
            margin-right: 60px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    div {
        font-size: 16px;
        font-weight: bold;
        margin-top: 50px;
    }
}
// footer