.header {
  width: 100%;
  height: 120px;
  padding: 15px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: gold;
}

.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  margin-left: 80px;
}

.header-left img {
  height: 80px;
  width: 245px;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  margin-right: 80px;
}

.header-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 80px;
}

.header-right ul li {
  margin-right: 40px;
  font-size: 22px;
  font-weight: bold;
}

.header-right ul li:last-child {
  margin-right: 0;
}

.header-right ul li a {
  color: #000;
  text-decoration: none;
}

.tab-content {
  width: 100%;
  height: 500px;
}

.tab-content #tab1 {
  background-color: red;
  height: 500px;
}

.tab-content #tab2 {
  background-color: blue;
  height: 500px;
}

.tab-content #tab3 {
  background-color: green;
  height: 500px;
}

.tab-content #tab4 {
  background-color: purple;
  height: 500px;
}

.tab-content div {
  display: none;
}

.tab-content .active {
  display: block;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 350px;
  background-color: #FFCC33;
}

.contact h2 {
  font-size: 36px;
}

.contact .form {
  margin: 50px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .form-left {
  margin-right: 50px;
}

.contact .form .name {
  margin-bottom: 20px;
}

.contact .form .name, .contact .form .email {
  height: 50px;
  width: 400px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

.contact .form .inquiry {
  height: 120px;
  width: 400px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

.contact button {
  background-color: gold;
  color: #000;
  border: 3px solid #000;
  border-radius: 10px;
  font-size: 24px;
  padding: 15px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.footer {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: gold;
}

.footer img {
  margin-top: 30px;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.footer ul li {
  margin-right: 60px;
}

.footer ul li:last-child {
  margin-right: 0;
}

.footer div {
  font-size: 16px;
  font-weight: bold;
  margin-top: 50px;
}
/*# sourceMappingURL=enjoy.css.map */